.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:active {
  border: 3px solid black;
}
.btn-start {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-start:hover {
  background-color: #165184
}

.btn-stop {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-stop:hover {
  background-color: #b92823;
}

.graphs-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}